.abatement-section {
    >.abatement-section-heading {
        display: flex;
        flex: 0 0;
        align-items: center;
        background-color: var(--color-5);
        color: var(--color-2);
        gap: 4px;
        min-height: 54px;
        padding-left: 12px;
        font-family: var(--headings-font-family);

        >h1 {
            flex: 1;
            font-size: 20px;
            color: inherit;

            &::before {
                margin-right: 6px;
            }
        }

        >.bp5-icon {
            aspect-ratio: 1;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    >.abatement-section-content>.bp5-tabs>.bp5-tab-panel {
        margin: 0 8px 20px 8px;

        >.abatement-table {
            border: 0;
            border-collapse: separate;
            font-size: 11px;
            border-spacing: 0;
            margin: 0;
            width: 100%;

            thead {
                position: sticky;
                top: 0;
                background-color: var(--color-7);
            }

            th {
                vertical-align: bottom;
                white-space: nowrap;
                font-weight: bold;
            }

            td {
                vertical-align: top;
                overflow-wrap: anywhere;
            }

            td, th {
                border: 0;
                font-size: inherit;
                padding: 4px 6px 4px 0;
                text-align: left;
            }

            tr:not(:last-child)>td,
            th {
                border-bottom: 1px solid rgba(0,0,0,.15);
            }
        }

        >.abatement-chart {
            width: 100%;
        }
    }
}
