$drawer-width: 368px;
$floating-menu-padding: 10px;
$leaflet-control-width: 38px;

$seamap-color-2: rgb(126, 186, 231);

$seamap-color-1: rgb(14, 14, 25);
$seamap-color-2: rgb(28, 50, 98);
$seamap-color-3: rgb(45, 101, 154);
$seamap-color-4: rgb(84, 142, 196);
$seamap-color-5: rgb(126, 186, 231);
$seamap-color-6: rgb(200, 220, 240);
$seamap-color-7: white;

$seamap-color-2-darker: rgb(25, 44, 86);
$seamap-color-3-darker: rgb(39, 91, 141);

@import 'ui/css/wordpress';
@import 'ui/css/floating-pills';
@import 'ui/css/left-drawer';
@import 'ui/css/state-of-knowledge';
@import 'ui/css/story-maps';
@import 'ui/css/layer-card';
@import 'ui/css/blueprint-overrides';
@import 'ui/Select/Select';
@import 'ui/SelectionList/SelectionList';
@import 'ui/Omnibar/Omnibar';
@import 'thirdparty/leaflet-zoominfo/L.Control.Zoominfo';
@import 'thirdparty/leaflet-coordinates/leaflet-coordinates';
@import 'thirdparty/leaflet-scalefactor/leaflet.scalefactor';

@import 'ui/css/app.scss';
