$catalogue-drawer-width: 460px;
$floating-menu-width: 400px;
$floating-menu-padding: 10px;

@import 'ui/css/wordpress';
@import 'ui/css/floating-menu';
@import 'ui/css/floating-pills';
@import 'ui/css/state-of-knowledge';
@import 'ui/Select/Select';
@import 'ui/SelectionList/SelectionList';
@import 'ui/Omnibar/Omnibar';
@import 'thirdparty/leaflet-zoominfo/L.Control.Zoominfo';
@import 'thirdparty/leaflet-coordinates/leaflet-coordinates';
@import 'thirdparty/leaflet-scalefactor/leaflet.scalefactor';

@import 'ui/css/app.scss';
