$drawer-width: 368px;
$floating-menu-padding: 10px;
$leaflet-control-width: 38px;

$seamap-color-medium: rgb(81, 142, 197);
$seamap-color-light: rgb(126, 186, 231);
$seamap-color-lighter: rgb(200, 220, 240);
$seamap-color-lightest: white;
$seamap-color-dark: rgb(45, 101, 154);
$seamap-color-darker: rgb(17, 60, 108);

$seamap-color-dark-darker: rgb(40, 93, 143);

@import 'ui/css/wordpress';
@import 'ui/css/floating-pills';
@import 'ui/css/left-drawer';
@import 'ui/css/state-of-knowledge';
@import 'ui/css/story-maps';
@import 'ui/css/layer-card';
@import 'ui/Select/Select';
@import 'ui/SelectionList/SelectionList';
@import 'ui/Omnibar/Omnibar';
@import 'thirdparty/leaflet-zoominfo/L.Control.Zoominfo';
@import 'thirdparty/leaflet-coordinates/leaflet-coordinates';
@import 'thirdparty/leaflet-scalefactor/leaflet.scalefactor';

@import 'ui/css/app.scss';
