$active-layers-width: 400px;
$active-layers-padding: 10px;

.floating-menu {
	position: absolute;
	z-index: 2000;
	top: $active-layers-padding;
	left: $active-layers-padding;
	width: $active-layers-width;
	background-color: white;
	border-radius: 12px;
	border: 2px solid rgba(0,0,0,0.2);
	height: 48px;
	display: flex;
}

.floating-menu > :not(:last-child) {
	border-right: 1px solid rgba(0,0,0,0.05);
}

.floating-menu-drawer-button {
	aspect-ratio: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.floating-menu-drawer-button:hover {
	background-color: rgba(0,0,0,0.025);
}

.floating-menu-search-button {
	display: flex;
	align-items: center;
	cursor: pointer;
	color: #5f6b7c;
	padding: 0px 12px;
	flex: 1;
	user-select: none;
}

.floating-menu-search-button:hover {
	background-color: rgba(0,0,0,0.025);
}

.floating-menu-search-button > :first-child {
	margin-right: 8px;
}
