body {
    margin: 0;
}

#app {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
/* Embed in wordpress: */
body.page-template-default #app {
    height: calc(100% - 90px);
}
body.page-template-default.admin-bar #app {
    height: calc(100% - 90px - 32px);
}

#welcome-splash {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
.welcome-splash {
    background: white;
}
.welcome-splash .bp3-dialog-header {
    box-shadow: none;
}

#main-wrapper {
    height: 100%;
    display: flex;
    flex-direction: row;
}
#sidebar {
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5px;
    min-height: 0;
}
#settings {
    padding: 5px;
}
#content-wrapper {
    position: relative;
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    min-width: 0; /* Makes it ignore child width, in particular won't be stretched by svg */
}
#map {
    flex: 1 1 100%;
}
.map-wrapper, #map {
    height: 100%;
    position: relative;
    display: flex;
}
footer {
    flex: 0 0;
    flex-basis: 10px;
}

.loading-splash {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 9000;
    background: white;
    opacity: 0.8;
}
.loading-splash.load-error {
    opacity: 1;
}

.height-static {
    flex-grow: 0;
    flex-shrink: 0;
}
.bp3-collapse>.bp3-collapse-body,
.height-managed {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 1;
    min-height: 0;              /* http://stackoverflow.com/a/36247448 */
}

.drag-handle {
    display: flex;
    justify-content: center;
}
.drag-handle:hover {
    background-color: #F5F8FA;
}

.bp3-portal {
    z-index: 2000;              /* Must be greater than leaflet */
}

.bp3-overlay-backdrop {
    z-index: 2000;              /* Must be greater than leaflet */
}
.bp3-overlay-content {
    z-index: 2001;
}

.bp3-toast-container {
    z-index: 2001;
}

#transect-btn-wrapper {
    margin-bottom: 5px;
}

.logic-toggle {
    padding-top: 10px;
    margin-top: 10px;
}

/* Layer cards */
.layer-group {
    padding-top: 10px;
    overflow-y: hidden;
}
.layer-group.collapsed {
    min-height: 30px;
}
.layer-group.expanded {
    min-height: 115px;
}
.layer-group.expanded.needs-extra {
    min-height: 150px;
}
.active-layer-group {
    padding-top: 10px;
    overflow-y: hidden;
}

.group-scrollable{
    overflow-y: auto;
    padding: 2px;
    margin-bottom: 10px;
}

.layer-wrapper {
    min-width: 0;
    margin-bottom: 5px;
}

.layer-wrapper .bp3-card {
    padding: 10px;
}

.layer-wrapper .header-row,
.layer-wrapper .subheader-row {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.layer-wrapper .subheader-row {
    transition: height 200ms ease-out;
    height: 0;
}
.layer-wrapper:hover .subheader-row {
    height: 20px;
}

.header-text .bp3-popover-target {
    display: flex;
}

.layer-wrapper .header-text {
    flex: 1 1 auto;
    overflow: hidden;
}

.layer-wrapper .header-row .view-controls {
    flex: 0;
    margin-left: 10px;
}

.layer-wrapper .control-row {
    flex: 1 1 auto;
}

.catalogue-layer-controls .control {
    margin-left: 2px;
    opacity: 0.8;
}
.catalogue-layer-controls .control:hover {
    opacity: 1;
}

.layer-active .header-text,
.layer-active .bp3-icon-eye-on {
    color: #0F9960;
}

.layer-active .bp3-icon-eye-on:hover {
    color: #C23030;
}

.layer-active .bp3-icon-remove:hover {
    color: #C23030;
}

.layer-active .header-text {
    font-style: italic;
}

.layer-active .header-text-wrapper.has-icons {
    display: flex;
    flex-direction: row;
}

.header-status-icons {
    padding-right: 10px
}

.layer-wrapper .legend-wrapper {
    overflow-x: hidden;
}

.catalogue-layer-controls {
    flex: 0 0 auto;
    display: flex;
}

.catalogue-add {
    margin-bottom: 5px;
}
.bp3-tree-node-secondary-label {
    flex: 0 0 auto;
}
.bp3-tree-node-content-2 {
    padding-left: 25px;
}
.layer-active .bp3-tree-node-content {
    align-items: normal;
    height: auto;
}

.bp3-tree-node-label > .layer-wrapper {
    padding-left: 9px;
}

.bp3-tree-node-label .layer-legend {
    padding-right: 9px;
}
.catalogue-layer-controls > span {
    padding-left: 2px;
}

.transect-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.full-width {
    width: 100%;
}

.help-button {
    margin-top: auto;           /* stick to bottom */
    text-align: center;
}

/* Helper overlay: */
.helper-layer-wrapper {
    position: absolute;
    z-index: 9999998;
    color: white;
}

.helper-layer-wrapper.helper-layer-left {
    border-left: solid white 1px;
    margin-left: -10px;
}

.helper-layer-wrapper.helper-layer-right {
    border-right: solid white 1px;
    padding-right: 10px;
}

.helper-layer-wrapper.helper-layer-bottom {
    border-bottom: solid white 1px;
    padding-bottom: 10px;
}

.helper-layer-wrapper.helper-layer-top {
    border-top: solid white 1px;
    padding-top: 10px;
}

.helper-layer-tooltip {
    position: absolute;
    max-width: 200px;
}

.helper-layer-tooltip.helper-layer-left {
    margin-left: -135px;
    padding-right: 10px;
}

.helper-layer-tooltip.helper-layer-right {
    margin-right: -135px;
    padding-left: 10px;
}

.helper-layer-tooltip.helper-layer-bottom {
    margin-bottom: -50px;
    padding-top: 10px;
}

.helper-layer-tooltip.helper-layer-top {
    margin-top: -50px;
    padding-bottom: 10px;
}

.helper-layer-tooltip.helper-layer-right:before, .helper-layer-tooltip.helper-layer-left:after, .helper-layer-tooltip.helper-layer-bottom:before, .helper-layer-tooltip.helper-layer-top:after {
    content: ".";
    display: inline-block;
    background-color: white;
    height: 1px;
    overflow: hidden;
    position: absolute;
}

.helper-layer-tooltip.helper-layer-right:before, .helper-layer-tooltip.helper-layer-left:after {
    width: 100px;
    top: 50%;
}

.helper-layer-tooltip.helper-layer-bottom:before, .helper-layer-tooltip.helper-layer-top:after {
    width: 1px;
    height: 50px;
    left: 50%;
}

.helper-layer-tooltip.helper-layer-bottom:before {
    top: -50px;
}

.helper-layer-tooltip.helper-layer-top:after {
    bottom: -50px;
}

.helper-layer-tooltip.helper-layer-right:before {
    left: -100px;
}

.helper-layer-tooltip.helper-layer-left:after {
    right: -100px;
}

.helper-layer-top .helper-layer-tooltiptext,
.helper-layer-bottom .helper-layer-tooltiptext {
    text-align: center;
}
.helper-layer-left .helper-layer-tooltiptext {
    text-align: right;
}

/* Plot animations: */

.plot-container {
    height: 200px;
}
.plot-height-enter {
    height: 10px;
}
.plot-height-exit {
    height: 10px;
    transition: height 300ms ease-in;
}
.plot-height-enter-active {
    height: 200px;
    transition: height 300ms ease-in;
}
.plot-height-exit-active {
    height: 10px;
}

.draw-transect::after {
    margin-bottom: 5px;
}

@keyframes yellowfade {
    from { background: #FFFF88;     }
    to   { background: transparent; }
}
.external-trigger {
    animation: yellowfade 1s;
}

/* SVG styling */
rect#background {
    fill: lightblue;
}

/* Map customisation */
/* Don't display the edit toolbar: */
.leaflet-draw.leaflet-control > .leaflet-draw-section:nth-child(2) { display: none !important; }
.layer-group > h1 {
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.active-layer-group > h1 {
    font-size: 16px;
    font-weight: bold;
}

.leaflet-grab {
    cursor: default;
}

/* leaflet-sidebar overrides: */
.sidebar-content {
    background-color: white;
}
.sidebar-pane.active {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: hidden;
}
/* Remove tab padding */
.sidebar-header {
    margin: -10px -5px 0;
    padding: 0 10px;
}
.sidebar-pane {
    padding: 10px 5px 0 5px;
}
.sidebar-tab {
    flex-grow: 1;
    padding: 5px;
}
/* Chrome 62 regression fix; see https://bugs.chromium.org/p/chromium/issues/detail?id=775880 */
.sidebar-tabs>li, .sidebar-tabs>ul>li {
    list-style-type: none;
}
/* Another chrome-only hack (otherwise we get an extra 0.4px on the close-button) */
.bp3-dialog-footer-actions .bp3-popover-target {
    vertical-align: unset;
}

.metadata-record {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
.metadata-record .section {
    margin-bottom: 15px;
}
.metadata-record .more-info {
    margin-top: 10px;
}
.metadata-img {
    float: left;
    margin-right: 5px;
}
.metadata-record .server-info {
    display: grid;
    grid-template-columns: 60px 1fr;
    margin-left: 10px;
    line-height: 1.5em;
}
.metadata-record .server-layer {
    grid-column-start: 2;
}
.org-logo {
    /* width: 90px; */
    height: 50px;
}
.clearfix::after {
    clear: both;
    display: block;
    content: "";
}
.metadata-record .download-instructions {
    font-style: italic;
}
.metadata-record.third-party .metadata-subheader,
.metadata-record.third-party .license-info,
.metadata-record.third-party .download-instructions,
.metadata-record.bathymetry .metadata-subheader,
.metadata-record.bathymetry .license-info,
.metadata-record.bathymetry .download-instructions,
.metadata-record.boundaries .metadata-subheader,
.metadata-record.boundaries .license-info,
.metadata-record.boundaries .download-instructions {
    display: none;
}

.clickable {
    cursor: pointer;
}

.region-stats table {
    padding-bottom: 15px
}
.region-stats .download {
    font-weight: bold;
    font-size: 1.2em;
}
.region-stats td,
.region-stats th {
    text-align: left;
}
.region-stats td + td,
.region-stats th + th {
    text-align: right;
}

/* Overrides for the region-select tool */
.leaflet-draw-toolbar .leaflet-draw-draw-rectangle,
.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-draw-rectangle {
    background-image: none;
}
.leaflet-draw-toolbar .leaflet-draw-draw-rectangle::before,
.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-draw-rectangle::before {
    content: "î™¸";
    font-family: "Icons20";
}

/* sidebar tweaks */
.sidebar.collapsed {
    box-sizing: content-box;
}
@media (min-width: 768px) {
    .sidebar-left.collapsed~.sidebar-map .leaflet-left {
        left: 55px;
    }
}

/* Leaflet layers control overrides: */
input.leaflet-control-layers-selector[type="radio"] {
    margin-top: 0;
}
.leaflet-control-layers-list {
    padding: 0;
}

/* Fixes checkbox alignment inside of layer card controls */
.catalogue-layer-controls .bp3-checkbox {
    margin-bottom: 0;
    margin-left: 3px;
}

.feature-info-json {
    max-height: 257px;
    overflow-y: scroll;
}

.feature-info-json table {
    border-spacing: 0;
}

.feature-info-json tr:nth-child(odd) {
    background-color: rgb(235, 235, 235);
}

.feature-info-json td {
    padding: 3px 0px 3px 10px;
    vertical-align: top;
}

.left-drawer-header {
    padding: 12px;
}

.left-drawer-header img {
    height: 36px;
}

.bp3-drawer .bp3-panel-stack {
    height: 100%;
}

.bp3-drawer {
    display: flex;
    flex-direction: column;
}

.bp3-drawer > :last-child {
    flex: 1;
}

.drawer-group {
    padding-bottom: 20px;
}

.drawer-group h1 {
    font-size: 16px;
    margin: 0 0 0 12px;
}

.drawer-group .bp3-button {
    width: calc(100% - 24px);
    justify-content: flex-start;
    padding: 12px 12px;
    margin: 0px 12px 6px 12px;
}

.drawer-group .bp3-button i {
    margin-right: 7px;
    width: 15px;
    height: 15px;
}

.drawer-group h1::before {
    margin-right: 6px;
}

.leaflet-left {
    transition: left 200ms, top 200ms;
}

.catalogue-open .leaflet-left {
    left: calc(460px + 10px);
}

/* Allow interactivity with underneath elements while drawer is open */
.bp3-overlay.bp3-overlay-open.bp3-overlay-container {
    width: 0;
    height: 0;
}

.form-group > :first-child {
    font-weight: bold;
    margin-left: 6px;
}

.drawer-group > .form-group {
    margin: 0px 12px 8px 12px;
}
