.floating-menu-positioning {
	position: absolute;
	z-index: 2000;
	top: $floating-menu-padding;
	bottom: 75px;
	left: $floating-menu-padding;
	width: $floating-menu-width;
}

.floating-menu {
	background-color: white;
	border-radius: 12px;
	border: 2px solid rgba(0,0,0,0.2);
	background-clip: padding-box;
	display: flex;
	flex-direction: column;
	max-height: 100%;
	overflow: hidden;
}

.floating-menu > * {
	flex-shrink: 0;
}

.floating-menu > :not(:first-child) {
	border-top: 2px solid rgba(0,0,0,0.2);
}

.floating-menu-bar {
	height: 48px;
	display: flex;
}

.floating-menu-bar > :not(:last-child) {
	border-right: 1px solid rgba(0,0,0,0.05);
}

.floating-menu-bar-drawer-button {
	aspect-ratio: 1;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.floating-menu-bar-drawer-button:hover {
	background-color: rgba(0,0,0,0.025);
}

.floating-menu-bar-search-button {
	display: flex;
	align-items: center;
	cursor: pointer;
	color: #5f6b7c;
	padding: 0px 12px;
	flex: 1;
	user-select: none;
}

.floating-menu-bar-search-button:hover {
	background-color: rgba(0,0,0,0.025);
}

.floating-menu-bar-search-button > :first-child {
	margin-right: 8px;
}

.floating-menu-active-layers {
	flex: 1;
	display: flex;
	flex-direction: column;
	min-height: 0;
}

.floating-menu-active-layers .header {
	height: 40px;
	color: #fff;
	background-color: #0074d9;
	display: flex;
	user-select: none;
}

.floating-menu-active-layers .header > .bp3-icon {
	aspect-ratio: 1;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.floating-menu-active-layers .header > h1 {
	line-height: 40px;
	font-size: 14.4pt;
	color: #fff;
}

.floating-menu-active-layers .content {
	padding: 8px;
	overflow-y: scroll;
}

.leaflet-top.leaflet-left {
	left: calc($floating-menu-width + 2 * $floating-menu-padding);
}

.catalogue-open .leaflet-top.leaflet-left {
	left: calc($catalogue-drawer-width + $floating-menu-padding);
}
