.layer-card {
    background-color: $seamap-light-blue;
    color: $seamap-deep-blue;
    cursor: pointer;
    font-size: 12px;

    input[type="range"] {
        cursor: pointer;
        accent-color: $seamap-deep-blue;
        margin: 0;
        width: 100%;
    }

    .time-range {
        margin: 0 6px;
        font-size: 11px;
        display: flex;
        flex-direction: row;
        
        >* {
            flex: 0;
            min-width: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .layer-header {
        padding: 20px 24px;
        border-bottom: 2px solid $seamap-medium-blue;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 10px;

        .layer-header-text {
            font-size: 13px;
            font-weight: bold;
            span {vertical-align: middle;}
        }

        >* {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 6px;

            &:nth-child(2) {
                justify-content: space-between;
                input[type="range"] { width: 240px; }
            }
        }
    }

    .bp3-collapse-body {
        background-color: $seamap-color-7;
        padding: 12px 24px;
    }

    &:hover {
        background-color: rgb(197, 213, 234);
        .bp3-collapse-body { background-color: rgba(241, 243, 246); }
    }
}

.layer-header-text {
    flex: 1;
    min-width: 0;
}

.has-tooltip .layer-header-text { color: #3681b7; }

.active-layer .layer-header-text { font-weight: bold; }

.layer-controls,
.layer-status-icons {
    flex: 0 0;
    display: flex;
    align-items: center;
    gap: 5px;
}

.layer-status-icons .bp3-icon,
.layer-control {
    color: $seamap-medium-blue;
    svg { opacity: 0.8; }
}

.layer-control {
    cursor: pointer;
    &:hover svg { opacity: 1; }
}

/* Special controls */
.layer-control.bp3-icon-eye-on {
    color: #0F9960;
}

.layer-control.bp3-icon-delete {
    color: $seamap-deep-blue;
}

.layer-control.bp3-icon-eye-on:hover,
.layer-control.bp3-icon-delete:hover {
    color: $seamap-red;
}

.catalogue-layer-node .layer-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    .bp3-checkbox { margin-right: -6px; }
}

.legend-wrapper img {
    max-width: 100%;
}

.legend-wrapper .bp3-non-ideal-state {
    height: 150px;
}

.vector-legend-entry {
    display: flex;
    // align-items: center;
    gap: 7px;
    min-height: 20px;
}

.vector-legend-entry > .key {
    width: 13px;
    height: 13px;
    margin-top: 3.5px;
    margin-left: 3px;
    position: relative;
    flex-shrink: 0;
}

.vector-legend-entry > .key > * {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.vector-legend-entry > .label {
    white-space: pre;
    font-size: 13px;
    margin: 2px 0;
    min-width: 0;
}

.layer-details h2 {
    font-size: 14px;
    line-height: 16px;
}
