.layer-card {
    background-color: $seamap-light-blue;
    color: $seamap-deep-blue;
    cursor: pointer;
    font-size: 12px;
    position: relative;
    transition: background-color 200ms;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: box-shadow 200ms;
        pointer-events: none;
    }

    input[type="range"] {
        cursor: pointer;
        accent-color: $seamap-deep-blue;
        margin: 0;
        width: 100%;
    }

    .time-range {
        margin: 0 6px;
        font-size: 11px;
        display: flex;
        flex-direction: row;
        
        >* {
            flex: 0;
            min-width: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .layer-header {
        padding: 20px 24px;
        border-bottom: 2px solid $seamap-medium-blue;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 10px;

        .layer-header-text {
            font-size: 14px;
            font-weight: bold;
            span {vertical-align: middle;}
        }

        >* {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 6px;

            &:nth-child(2) {
                justify-content: space-between;
                input[type="range"] { width: 240px; }
            }
        }
    }

    .bp3-collapse-body {
        background-color: $seamap-color-7;
        padding: 12px 24px;
        transition: background-color 200ms;
    }
}

.SelectionListPortal .layer-card, .layer-card:hover {
    background-color: rgb(197, 213, 234);
    .bp3-collapse-body { background-color: rgba(241, 243, 246); }

    &::after {
        box-shadow: 0 0 0 1px rgb(16 22 26 / 10%) inset, 0 2px 4px rgb(16 22 26 / 20%) inset, 0 8px 24px rgb(16 22 26 / 20%) inset;
    }
}

.layer-header-text {
    flex: 1;
    min-width: 0;
}

.has-tooltip .layer-header-text { color: #3681b7; }

.active-layer .layer-header-text { font-weight: bold; }

.layer-controls,
.layer-status-icons {
    flex: 0 0;
    display: flex;
    align-items: center;
    gap: 5px;
}

.layer-status-icons .bp3-icon,
.layer-control {
    color: $seamap-medium-blue;
    svg { opacity: 0.8; }
}

.layer-control {
    cursor: pointer;
    &:hover svg { opacity: 1; }
}

/* Special controls */
.layer-control.bp3-icon-eye-on,
.layer-control.bp3-icon-delete {
    color: $seamap-deep-blue;
    &:hover { color: $seamap-red; }
}

.data-in-region-layer {
    color: $seamap-deep-blue;
    height: 28px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 4px;
    &.active-layer { background-color: $seamap-light-blue; }
    >* {
        flex: 1;
        min-width: 0;
    }
    .layer-header {
        height: 18px;
        .layer-header-text { margin-top: 4px; }
    }
}

.catalogue-layer-node .layer-header,
.data-in-region-layer .layer-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    .bp3-checkbox { margin-right: -6px; }
}

.legend-wrapper {
    margin: 8px 0;
    img { max-width: 100%; }
    .bp3-non-ideal-state { height: 150px; }
}

.vector-legend-entry {
    display: flex;
    align-items: center;
    gap: 7px;
    min-height: 24px;
}

.vector-legend-entry > .key {
    width: 16px;
    height: 16px;
    position: relative;
    flex-shrink: 0;
}

.vector-legend-entry > .key > * {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.vector-legend-entry > .label {
    white-space: pre;
    font-size: 13px;
    min-width: 0;
}

.layer-details h2 {
    font-size: 14px;
    line-height: 16px;
}
