.catalogue-layer-search-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #adb6be;
    padding: 0px 10px;
    user-select: none;
    height: 30px;
    box-shadow: 0 0 0 0 rgb(19 124 189 / 0%), 0 0 0 0 rgb(19 124 189 / 0%), inset 0 0 0 1px rgb(16 22 26 / 15%), inset 0 1px 1px rgb(16 22 26 / 20%);
    border-radius: 15px;
}

.catalogue-layer-search-button:hover {
    background-color: rgba(0,0,0,0.025);
}

.catalogue-layer-search-button > .bp3-icon {
    margin-right: 5px;
    color: #5c7080;
}

.left-drawer {
    .bp3-drawer-header {
        border-bottom: 7px solid $seamap-color-1;
        height: 96px;
        padding: 15px;

        h4 {
            height: 44px;
            display: flex;
            align-items: center;

            >* {
                min-width: 0;
                min-height: 0;
            }

            >:first-child {
                flex: 1;
                height: 100%;
            }

            .bp3-icon svg {
                color: $seamap-deep-blue-lighter;
                width: 24px;
                height: 24px;
            }
        }
    }
}

.left-drawer-tabs {
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;

    > .bp3-tab-list {
        background-color: $seamap-deep-blue-lighter;
        color: $seamap-color-7;
        height: 49px;
        .bp3-tab { color: inherit; }

        .bp3-tab-indicator-wrapper {
            background-color: $seamap-deep-blue;

            .bp3-tab-indicator {
                background-color: $seamap-color-7;
                margin-bottom: 12.5px;
            }
        }
    }

    > .bp3-tab-panel {
        overflow-y: auto;
        flex: 1;
    }

    .layer-search {
        height: 39px;
        display: flex;
        margin: 21px 12px 0 12px;
        >* { height: 39px; }

        .bp3-input, .bp3-input:focus {
            box-shadow: none;
            -webkit-box-shadow: none;
        }

        .bp3-input {
            border-radius: 15px;
            padding-left: 15px;
            font-size: 15px;

            &::-ms-clear,
            &::-ms-reveal { display: none; width : 0; height: 0; }

            &::-webkit-search-decoration,
            &::-webkit-search-cancel-button,
            &::-webkit-search-results-button,
            &::-webkit-search-results-decoration { display: none; }
        }

        .bp3-input-action {
            display: flex;
            align-items: center;
            color: $seamap-deep-blue-lighter;
            padding-right: 15px;
        }
    }

    .bp3-tree {
        font-size: 12px;
        .catalogue-layer-node>.bp3-tree-node-content { cursor: default; }

        .bp3-tree-node:not(.catalogue-layer-node) {
            &.category {
                >.bp3-tree-node-content {
                    height: 32px;
                    font-size: 20px;
                    font-family: $headings-font-family;
                }
            }
            
            >.bp3-tree-node-content {
                .bp3-tree-node-caret-none { min-width: 0; }
    
                >.bp3-tree-node-label {
                    display: flex;
                    align-items: center;
                    color: $seamap-deep-blue;

                    >.bp3-tree-node-caret {
                        color: inherit;
                    }
                }
            }
        }
    }
}
