.right-drawer-open .leaflet-right {
    right: $drawer-width;
}

.right-drawer-open .floating-pills {
    right: calc($drawer-width + $floating-menu-padding * 2 + 44px);
}

.state-of-knowledge-drawer > .drawer-children {
    display: flex;
    flex-direction: column;
}

.state-of-knowledge-drawer .drawer-group {
    flex: 1 1 0;
    min-height: 0;
}

.state-of-knowledge-drawer .drawer-group {
    transition: flex 500ms;
}

.state-of-knowledge-drawer .drawer-group.collapsed {
    flex: 0 1 0;
    min-height: 51px;
}

/* scrollable table body */
.state-of-knowledge-drawer .drawer-group-content,
.habitat-statistics  .drawer-group-content>*,
.bathymetry-statistics  .drawer-group-content>* {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.state-of-knowledge-drawer .drawer-group-content>*,
.habitat-statistics  .drawer-group-content>*>*,
.bathymetry-statistics  .drawer-group-content>*>* {
    min-height: 0;
}

.state-of-knowledge-drawer .bp3-tab-panel {
    overflow-y: auto;
    margin-bottom: 20px;
}

.state-of-knowledge-drawer thead {
    position: sticky;
    top: 0;
    background-color: $seamap-color-lightest;
}
/* scrollable table body */

.habitat-statistics .bp3-tab-list .bp3-switch,
.bathymetry-statistics .bp3-tab-list .bp3-switch,
.habitat-observations .bp3-switch {
    margin-left: auto;
    height: 40px;
    align-items: center;
    display: flex;
}

.habitat-observations .bp3-switch {
    margin-right: 12px;
    flex-shrink: 0;
}


.state-of-knowledge-drawer td {
    vertical-align: top;
    overflow-wrap: anywhere;
}

.state-of-knowledge-drawer th {
    vertical-align: bottom;
}

.habitat-observations .drawer-group-content {
    margin: 0;
    gap: 0;
}

.habitat-observations-groups {
    overflow-y: auto;
}

.habitat-observations-group-heading {
    display: flex;
    align-items: center;
    background-color: $seamap-color-light;
    color: $seamap-color-darker;
    padding: 6px;
    gap: 4px;
    cursor: pointer;
    user-select: none;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 200ms;
}

.habitat-observations-group.expanded .habitat-observations-group-heading {
    background-color: $seamap-color-lighter;
}

.habitat-observations-group.disabled .habitat-observations-group-heading {
    cursor: not-allowed;
}

.habitat-observations-group-heading>.bp3-icon {
    aspect-ratio: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.habitat-observations-group-stats {
    margin: 0 12px 20px 12px;
}

.habitat-observations-group-stat {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding: 5px 14px;
}

.state-of-knowledge-pill-content {
    width: 436px;
}

/* Fixes bug that was preventing the use of react select fields (and probably other things) while a drawer was open */
.bp3-overlay-start-focus-trap.bp3-overlay-enter-done {
    display: none;
}

.selected-boundaries {
    background-color: $seamap-color-dark;
    color: $seamap-color-lightest;
    padding: 12px;
    font-weight: bold;
}

.selected-boundaries h2 {
    font-size: 22px;
}

.selected-boundaries a {
    color: $seamap-color-lightest;
}

.selected-boundaries .breadcrumbs a {
    text-decoration: underline;
}
