.right-drawer-open .leaflet-right {
    right: $drawer-width;
}

.right-drawer-open .floating-pills {
    right: calc($drawer-width + $floating-menu-padding * 2 + 44px);
}

.state-of-knowledge-drawer > .drawer-children {
    display: flex;
    flex-direction: column;
}

.state-of-knowledge-drawer .drawer-group {
    flex: 1 1 0;
    min-height: 0;
}

.state-of-knowledge-drawer .drawer-group {
    transition: flex 500ms;
}

.state-of-knowledge-drawer .drawer-group.collapsed {
    flex: 0 1 0;
    min-height: 51.2px;
}

// https://stackoverflow.com/a/23989771
/* scrollable table body */
.habitat-statistics .drawer-group-content,
.habitat-statistics  .drawer-group-content>*,
.bathymetry-statistics .drawer-group-content,
.bathymetry-statistics  .drawer-group-content>*,
.state-of-knowledge-drawer table,
.state-of-knowledge-drawer .bp3-tab-panel:not([aria-hidden="true"]) {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.habitat-statistics .drawer-group-content>*,
.habitat-statistics  .drawer-group-content>*>*,
.bathymetry-statistics .drawer-group-content>*,
.bathymetry-statistics  .drawer-group-content>*>*,
.state-of-knowledge-drawer table>*,
.state-of-knowledge-drawer .bp3-tab-panel:not([aria-hidden="true"])>* {
    min-height: 0;
}

.state-of-knowledge-drawer tbody,
.state-of-knowledge-drawer thead,
.state-of-knowledge-drawer tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.state-of-knowledge-drawer thead {
    width: calc(100% - 1em) // scrollbar is average 1em/16px width, remove it from thead width
}

.state-of-knowledge-drawer tbody {
    display: block;
    overflow-y: scroll;
}
/* scrollable table body */

.habitat-statistics .bp3-tab-list,
.bathymetry-statistics .bp3-tab-list {
    align-items: center;
}

.habitat-statistics .bp3-tab-list .bp3-switch,
.bathymetry-statistics .bp3-tab-list .bp3-switch,
.habitat-observations .bp3-switch {
    margin-left: auto;
}

.state-of-knowledge-drawer td,
.state-of-knowledge-drawer th {
    font-size: 12px;
    padding: 6px 6px 6px 0;
}

.state-of-knowledge-drawer td {
    vertical-align: top;
    overflow-wrap: anywhere;
}

.state-of-knowledge-drawer th {
    vertical-align: bottom;
}

.habitat-observation-stats {
    margin-bottom: 16px;
}

.habitat-observation-stats h2 {
    cursor: pointer;
    user-select: none;
}

.habitat-observation-stats.disabled h2 {
    cursor: default;
}

.habitat-observation-stats ul {
    margin: 0;
}

.habitat-observation-stats.collapsed ul,
.habitat-observation-stats.disabled ul {
    display: none;
}

.state-of-knowledge-pill-content {
    width: 436px;
}

/* Fixes bug that was preventing the use of react select fields (and probably other things) while a drawer was open */
.bp3-overlay-start-focus-trap.bp3-overlay-enter-done {
    display: none;
}

.selected-boundaries {
    background-color: $seamap-color-dark;
    color: $seamap-color-lightest;
    padding: 12px;
    font-weight: bold;
}

.selected-boundaries h2 {
    font-size: 22px;
}

.selected-boundaries a {
    color: $seamap-color-lightest;
}

.selected-boundaries .breadcrumbs a {
    text-decoration: underline;
}
