.featured-map {
    margin: 8px 12px;
}

.featured-map::after {
    content: "";
    display: table;
    clear: both;
}

.featured-map > .image-container {
    width: 120px;
    height: 104px;
    float: left;
    margin: 0 12px 6px 0;
    position: relative;
    background-color: rgba(0,0,0,.05);
}

.image-container > img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.featured-map > .title {
    font-weight: bold;
    font-size: 16px;
}

.featured-map-drawer .drawer-children {
    padding: 20px 16px;
}

.map-link {
    max-width: 720px;
    padding: 8px 12px;
    border: 2px solid black;
    position: relative;
    margin: 20px 0;
}

.map-link .subtitle {
    padding: 0 8px;
    position: absolute;
    top: -10px;
    background-color: white;
}

.map-link .description {
    margin: 6px 0 8px 0;
}
