.featured-maps {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    
    >.orientation {
        background-color: var(--medium-blue);
        color: var(--color-7);
        font-family: $headings-font-family;
        font-size: 19px;
        padding: 12px 29px;
    }

    >:nth-child(2) {
        min-height: 0;
        overflow: auto;
    }
}

.featured-map {
    padding-bottom: 20px;
    margin: 25px 27px 2px 27px;
    border-bottom: 2px solid $seamap-medium-blue;
    display: flex;
    flex-direction: column;
    gap: 10px;
    >.content { font-size: 12px; }
    >.show-me { margin-left: auto; }

    >.title {
        font-size: 19px;
        font-family: $headings-font-family;
        font-weight: 600;
    }
}

.featured-map-drawer .summary {
    background-color: var(--color-2);
    color: var(--color-7);
    padding: 12px 20px;
    font-size: 18px;
    font-family: $headings-font-family;
    a { color: inherit; }
}

.featured-map-drawer .drawer-children {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    >* {
        min-height: 0;
        &:last-child {
            flex: 1;
        }
    }
}

.map-links {
    overflow-y: auto;
}

.map-link {
    padding: 12px 20px 12px 0;
    margin-left: 20px;
    border-bottom: 2px solid $seamap-color-5;
    display: flex;
    flex-direction: column;
    gap: 6px;
    color: var(--color-1);

    >:nth-child(1) {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 6px;

        >.subtitle {
            font-size: 16px;
            font-weight: bold;
            font-family: $headings-font-family;
            flex: 1;
        }
    }

    >.description {
        font-size: 13px;
    }
}
