body {
    margin: 0;
    overflow: hidden;
}
#app {
    position: absolute;
    width: 100%;
    height: 100%;
}
#main-wrapper {
    height: 100%;
    display: flex;
    flex-direction: row;
}
#sidebar {
    flex: 0 0 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5px;
    width: 0;
}
#content-wrapper {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    width: 0; /* Makes it ignore child width, in particular won't be stretched by svg */
}
#map {
    flex: 1 1 100%;
}
footer {
    flex: 0 0;
    flex-basis: 10px;
}

.height-static {
    flex-grow: 0;
    flex-shrink: 0;
}
.pt-collapse>.pt-collapse-body,
.height-managed {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 1;
    min-height: 0;              /* http://stackoverflow.com/a/36247448 */
}

.drag-handle {
    display: flex;
    justify-content: center;
}
.drag-handle:hover {
    background-color: #F5F8FA;
}

.pt-portal {
    z-index: 2000;              /* Must be greater than leaflet */
}

.pt-overlay-backdrop {
    z-index: 2000;              /* Must be greater than leaflet */
}
.pt-overlay-content {
    z-index: 2001;
}

/* Layer cards */
.layer-group {
    padding-top: 10px;
}

.group-scrollable{
    overflow-y: auto;
    padding: 2px 2px 20px 2px;
}

.layer-wrapper .pt-card {
    padding: 10px;
}

.layer-wrapper .header-row {
    display: flex;
    flex-direction: row;
}

.layer-wrapper .header-text {
    flex: 1 1 auto;
}

.layer-wrapper .header-row .layer-controls {
    flex: 0;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.layer-controls .control:hover {
    color: inherit;
}

.layer-wrapper .legend-wrapper {
    overflow-x: hidden;
}

.catalogue-add {
    margin-bottom: 5px;
}

/* Helper overlay: */
.helper-layer-wrapper {
    position: absolute;
    z-index: 9999998;
    color: white;
}

.helper-layer-wrapper.helper-layer-left {
    border-left: solid white 1px;
    margin-left: -10px;
}

.helper-layer-wrapper.helper-layer-right {
    border-right: solid white 1px;
    padding-right: 10px;
}

.helper-layer-wrapper.helper-layer-bottom {
    border-bottom: solid white 1px;
    padding-bottom: 10px;
}

.helper-layer-wrapper.helper-layer-top {
    border-top: solid white 1px;
    padding-top: 10px;
}

.helper-layer-tooltip {
    position: absolute;
    max-width: 200px;
}

.helper-layer-tooltip.helper-layer-left {
    margin-left: -135px;
    padding-right: 10px;
}

.helper-layer-tooltip.helper-layer-right {
    margin-right: -135px;
    padding-left: 10px;
}

.helper-layer-tooltip.helper-layer-bottom {
    margin-bottom: -50px;
    padding-top: 10px;
}

.helper-layer-tooltip.helper-layer-top {
    margin-top: -50px;
    padding-bottom: 10px;
}

.helper-layer-tooltip.helper-layer-right:before, .helper-layer-tooltip.helper-layer-left:after, .helper-layer-tooltip.helper-layer-bottom:before, .helper-layer-tooltip.helper-layer-top:after {
    content: ".";
    display: inline-block;
    background-color: white;
    height: 1px;
    overflow: hidden;
    position: absolute;
}

.helper-layer-tooltip.helper-layer-right:before, .helper-layer-tooltip.helper-layer-left:after {
    width: 100px;
    top: 50%;
}

.helper-layer-tooltip.helper-layer-bottom:before, .helper-layer-tooltip.helper-layer-top:after {
    width: 1px;
    height: 50px;
    left: 50%;
}

.helper-layer-tooltip.helper-layer-bottom:before {
    top: -50px;
}

.helper-layer-tooltip.helper-layer-top:after {
    bottom: -50px;
}

.helper-layer-tooltip.helper-layer-right:before {
    left: -100px;
}

.helper-layer-tooltip.helper-layer-left:after {
    right: -100px;
}


/* Plot animations: */

.plot-container {
    height: 200px;
}
.plot-height-enter {
    height: 10px;
}
.plot-height-leave {
    height: 10px;
    transition: height 300ms ease-in;
}
.plot-height-enter-active {
    height: 200px;
    transition: height 300ms ease-in;
}
.plot-height-leave-active {
    height: 10px;
}

.draw-transect {
    margin-bottom: 5px;
}

.layer-wrapper {
    margin-bottom: 5px;
}

/* SVG styling */
rect#background {
    fill: lightblue;
}

/* Map customisation */
/* Don't display the edit toolbar: */
.leaflet-draw.leaflet-control > .leaflet-draw-section:nth-child(2) { display: none !important; }
.layer-group > h1 {
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

