<html>
  <head></head>
  <body>
    {% if data %}
    <div class="region-stats">
      <h4>Management Region: {{ data.0.region }}</h4>
      <table class="pt-table pt-interactive pt-condensed">
        <thead>
          <th>Habitat</th>
          <th>Area (km<sup>2</sup>)</th>
          <th>Percentage (%)</th>
        </thead>
        <tbody>
          {% for row in data %}
          {% if row.habitat %}
          <tr>
            <td>{{ row.habitat }}</td>
            <td>{{ row.area|floatformat }}</td>
            <td>{{ row.pctg|floatformat }}</td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
      {% if data.0.habitat %}
      <a class="download" href="{{ url }}?boundary={{ boundary }}&habitat={{ habitat }}&x={{ x }}&y={{ y }}&format=raw">Download as Shapefile</a>
      {% endif %}
    </div>
    {% endif %}
  </body>
</html>
