<html>
  <head></head>
  <body>
    <div>
      <h4>Managment Region: {{ data.0.region }}</h4>
      <table>
        <thead>
          <th>Habitat</th>
          <th>Area (m<sup>2</sup>)</th>
          <th>Percentage (%)</th>
        </thead>
        <tbody>
          {% for row in data %}
          <tr>
            <td>{{ row.habitat }}</td>
            <td>{{ row.area|floatformat:"0" }}</td>
            <td>{{ row.pctg|floatformat }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <a href="{% url 'habitat-regions' %}?boundary={{ boundary }}&habitat={{ habitat }}&x={{ x }}&y={{ y }}&format=raw">Download as shapefile</a>
    </div>
  </body>
</html>
